---
---


@import "jekyll-theme-cayman"; 



.main-content {
  h1 {
   color: #ff0000;
 }
  h2 {
   color:  #9900ff
  }
}

body {
  color:  #9a1518;
}
a {
  color: #ffffff;
}

.page-header {
  color: #ff9505;
  text-align: center;
  background-color: #ff0000;
  background-image: linear-gradient(220deg, #edc9af, #ffffff);
  

}
.project-tagline {
  color: #0000ff;
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px 25px;
  text-transform: uppercase;

  @include large {
    font-size: 1.1875rem;
  }

  @include medium {
    font-size: 1.0625rem;
  }
}


@mixin sr-only {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.project-name {
  background-image: url("../../logo/BannerSuitecaseC.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  margin: 0;

  @include large {
    height: 190px;
  }

  @include medium {
    height: 160px;
  }

  span {
    @include sr-only();
  }
}
